{% extends 'base.html' %}
{% block title %}

<title>Dashboard</title>

{% endblock %} <!-- block for css end here -->

{% block content %}<!-- this is content -->
<!-- this is navbar -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- boostrap css -->


  </head>
  <body>
    <!-- nav bar heading start -->
    <div class="sticky-top">
      {% include 'navbar.html' %}
      <!-- niv bar heading end -->
      <!-- side bar start -->
      <div class="d-flex flex-row">
        {% include 'sidebar.html' %}
        <!-- side bar end -->
        <div class="container">
          <div class="row g-2">
            <div class="col-4 p-2" >
              <div class="card bg-info" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-solid fa-p float-end pt-3 pe-5 fa-2x text-light"></i>
                  <h5 class="card-title text-light">{{parked_vehicle_count}}</h5>

                  <p class="card-text text-light">Vehicle Parking</p>

                </div>
              </div>
            </div>
            <div class="col-4 p-2">
              <div class="card bg-dark" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-solid fa-car fa-2x float-end pt-3 pe-5 text-light"></i>
                  <h5 class="card-title text-light">{{leaved_vehicle_count}}</h5>

                  <p class="card-text text-light">Departed Vehicle</p>

                </div>
              </div>
            </div>
            <div class="col-4 p-2">
              <div class="card bg-danger" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-solid fa-box fa-2x float-end pt-3 pe-5 text-light"></i>
                  <h5 class="card-title text-light">{{category_data_available}}</h5>

                  <p class="card-text text-light">Available Category</p>

                </div>
              </div>
            </div>
            <div class="col-4 p-2">
              <div class="card bg-warning" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-solid fa-money-check-dollar fa-2x float-end pt-3 pe-5 text-light"></i>
                  <h5 class="card-title text-light">{{parking_charge_sum}}</h5>

                  <p class="card-text text-light">Total Earnings</p>

                </div>
              </div>
            </div>
            <div class="col-4 p-2">
              <div class="card bg-secondary" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-brands fa-buffer fa-2x float-end pt-3 pe-5 text-light"></i>
                  <h5 class="card-title text-light">{{vehicle_count}}</h5>

                  <p class="card-text text-light">Total Records</p>

                </div>
              </div>
            </div>
            <div class="col-4 p-2">
              <div class="card bg-primary" style="width: 18rem;">
                <div class="card-body">
                  <i class="fa-solid fa-check-double fa-2x float-end pt-3 pe-5 text-light"></i>
                  <h5 class="card-title text-light">{{ total_vehicle_limit }}</h5>

                  <p class="card-text text-light">Total Parking Slots</p>

                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
